.card {
    margin-top: 80px;
}

.inputZone {
    position: relative;
    margin-bottom: 25px;
}

input.form-control {
    padding-left: 35px;
}

img {
    position: absolute;
    top: 10px;
    left: 10px;
}

#privacy {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
#gotologin {
    font-size: 12px;
    text-align: center;
}

#gotoregister {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

