{% extends 'base_auth.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="card shadow-lg">
    <div class="card-body">
        <h5 class="card-title text-center py-3">重置密码</h5>
        {% include 'partials/messages.html' %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group inputZone">
                <img src="{% static 'img/lock.svg' %}" type="image/svg+xml">
                <img id="hide-password" src="{% static 'img/eye.svg' %}" type="image/svg+xml">
                <input type="password" name="password" id="password" placeholder="密码"
                    class="form-control">

            </div>
            <div class="form-group inputZone">
                <img src="{% static 'img/lock.svg' %}" type="image/svg+xml">
                <img id="hide-password" src="{% static 'img/eye.svg' %}" type="image/svg+xml">
                <input type="password" name="re_password" id="re_password" placeholder="确认密码"
                    class="form-control">
            </div>
            <input type="submit" value="提交" class="btn btn-primary btn-block">
        </form>
    </div>
</div>


{% endblock %}


{% block js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}