<!doctype html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>YouYu {% block title %}{% endblock %}</title>

    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base_auth.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    {% block css %} {% endblock %}
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-10 col-lg-4 offset-md-3 offset-1 offset-lg-4">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block js %} {% endblock %}

</body>

</html>